extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Dominick Inglese
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | I have a strong belief in treating others with respect and dignity. I challenge myself every morning to grow and develop to in order to reach my fullest potential. I believe that you will benefit from my sincere approach to communication, software development and transparency regarding every aspect of my perception of the world around me. I have volunteered with and support local technology programs dedicated to increasing diversity in the field. 
            | I am co-founder of a small non-profit education institute in West Bengal, India. My background in web development began in 2008. I teach free coding classes locally to adults looking to transition into a career as a full time web developer.
            | Coding without healthy, non-violent communication results in inferior software. Superior software arises in an environment of professionalism, respectable communication, and sincerity. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li AWS
          li Bash
          li CSS
          li Express
          li Git
          li HTML         
          li JavaScript
          li jQuery
          li MongoDB
          li Node.js
          li Pug
          li React

        h6 Contact Info
        ul
          li 843-593-2603
          li dominick@dominickdesigns.space
        a.button.expanded(href='https://www.linkedin.com/in/dominick-inglese/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/dominick-designs', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/devananda_dasa', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  