extends layout

block content   
    section.desk
        h1= `${error.message} - Status: ${error.status}`
        img.desk-items(src='../img/desk.svg' height="150" width="150")
        a.button-primary-small(href='/').h2 Go Back Home
        .paper
            pre.stack-trace= `This is the error trace stack: ${error.stack}`
        .tear
