extends layout

block content   
    section.desk
        h1= `${error.message} - Status: ${error.status}`
        img.desk-items(src='https://atjvzgrowo.cloudimg.io/v7/code.dominickdesigns.space/img/desk.png' height="953" width="720")
        //- original image = 150x150 ../img/desk.svg
        a.button-primary-small(href='/').h2 Click here to go home
        .paper
            //- pre.stack-trace= `This is the error trace stack: ${error.stack}`
        .tear




