extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Living Portfolio of Dominick Inglese
      p.lead.text-light
        | Selected portfolio highlights to display practical application of my skills as a fullstack JavaScript developer.
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href= `project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}`)
            h5= `${project.project_name}`
      
